/*
Theme Name: Wiki That Doesn't Suck
Theme URI: http://museumthemes.com
Author: Arcane Palette Creative Design
Author URI: http://arcanepalette.com/
Description: Want a wiki on your site but don't want to use MediaWiki? That's what I'm here for. I am made to be used with the <a href="http://wordpress.org/extend/plubins/wordpress-wiki-that-doesnt-suck/" target="_blank">WordPress Wiki that Doesn't Suck (WPWTDS)</a> plugin with unique views and layouts specific for this theme.
Version: 20130409-init
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Wiki That Doesn't Suck is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* Load the Bootstrap Black Magic */
@import url(css/bootstrap.min.css);
@import url(css/bootstrap-responsive.min.css);
@import url(css/elusive-webfont.css);

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}


/* =Menu
----------------------------------------------- */

.navigation-main {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.navigation-main ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.navigation-main li {
	float: left;
	position: relative;
}
.navigation-main a {
	display: block;
	text-decoration: none;
}
.navigation-main ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}
.navigation-main ul ul ul {
	left: 100%;
	top: 0;
}
.navigation-main ul ul a {
	width: 200px;
}
.navigation-main ul ul li {
}
.navigation-main li:hover > a {
}
.navigation-main ul ul :hover > a {
}
.navigation-main ul ul a:hover {
}
.navigation-main ul li:hover > ul {
	display: block;
}
.navigation-main li.current_page_item a,
.navigation-main li.current-menu-item a {
}

.nav-collapse ul.nav {
	float: right;
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

.main-small-navigation ul {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-small-navigation ul.nav-menu.toggled-on {
		display: block;
	}

	.navigation-main ul {
		display: none;
	}
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.cat-list .article-link {
	margin-left: 0px;
}

.alpha-list {
	margin-bottom: 1.5em;
}

.four-oh-four-search {
	margin: 20px 0 0;
}

article footer {
	margin: 10px 0;
}

.archive .breadcrumb,
.single .breadcrumb,
.blog .breadcrumb {
	margin-left: 30px;
}

footer.entry-meta, .table_of_contents {
	font-size: 0.9em;
}
.table_of_contents h4 {
	margin: 0 0 10px;
}
.table_of_contents ol {
	margin: 0 0 10px 15px;
}
.table_of_contents li {
	margin-bottom: 5px;
}
footer.entry-meta,
.table_of_contents li {
	line-height: 1.2em;
}
ul#revisions {
	margin: 5px 0 0 25px;
}

aside.search {
	margin: 2.5em 0 1.0em;
}
.wiki-search label {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 30px;
}
.wiki-search input[type="submit"] {
	margin-bottom: 10px;
	float: right;
}
.featured-tax .article-link,
.secondary-tax .article-link {
	float: left;
}
.wiki-sections section,
.secondary-tax,
.secondary-tax .article-link,
.wiki-sections section .article-link,
.featured-tax .article-link {
	margin-left: 0;
}
.other-topics {
	margin: 0 30px;
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}
.featured-image img {
	display: block;
	margin: 10px auto 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
	display: block;
	margin: auto;
}


/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.site-content nav.navigation {
	overflow: visible;
}
[class*="navigation"] .previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .next,
.nav-next {
	float: right;
	text-align: right;
}
#site-navigation {
	text-align: right;
	margin: 20px 0 0;
}
#menu-top-nav {
	float: right;
}
.span6.nav-next {
	text-align: right;
	float: right;
}

/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}
textarea#comment {
	width: 99.5%;
	padding: 0;
}
#btn, input[type="submit"] {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#btn:hover,
#btn:focus,
#btn:active,
#btn.active,
#btn.disabled,
#btn[disabled],
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

#btn:active,
#btn.active,
input[type="submit"]:active {
  background-color: #cccccc \9;
}

#btn:first-child,
input[type="submit"]:first-child {
  *margin-left: 0;
}

#btn:hover,
#btn:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

#btn:focus,
input[type="submit"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#btn.active,
#btn:active,
input[type="submit"]:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#btn.disabled,
#btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .navigation-paging, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}
